* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

.container {
    text-align: center;
}

.text {
    font-size: 48px;
    color: #333;
}

.dots {
    display: inline-block;
    animation: dots 1.5s infinite;
}

@keyframes dots {
    0%, 20% {
        opacity: 0;
    }
    30%, 50% {
        opacity: 1;
    }
    70%, 100% {
        opacity: 0;
    }
}
